# RStudio/R temporary stuff
.Rhistory
.Rproj.user
.RData
.Ruserdata

# Local config
.Renviron

# renv (local R package library)
renv/library/

# Data that shouldn't go to GitHub (big or private)
raw_data/
*.csv
*.xlsx

# Output files (can always regenerate)
# Ignore everything in output except figures
output/*
!output/figures/
!output/figures/**/*.png

assets/
 └─ figures_for_readme/
     ├─ ontrack_bar.png
     ├─ USA_line.png
     ├─ EU27_line.png

